{% extends "index.html" %}

{% block scripts %}
{{super()}}
<script src="/static/js/one_sector.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs-3.3.6/dt-1.10.11,fh-3.1.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/t/bs-3.3.6/dt-1.10.11,fh-3.1.1/datatables.min.js"></script>
{% endblock scripts%}

{% block page_content %}
<div class="page-header">
	<h1 id="usertype">{{usertype}}</h1>
</div>

<div class="container-fluid">

	<!-- table that shows some propeties of all sectors -->
	<div class="row">
		<div class="  col-md-12">
			 <div class="panel panel-default"> 
				<div class="panel-heading"><h3>Indexes of each sector</h3></div>
				<table class="table table-bordered table-striped" id="infotable">
					<thead>
						<tr>
							<th> 显示 </th>
							<th>{{ heads[0] }}</th>
							<th>{{ heads[1] }}</th>
							{% for head in heads[2:] %}
							<th>{{ head }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for row in table %}
						<tr data-toggle="tooltip" data-placement="top" title="{{sector23[row[0]]}}" data-container="body" style="max-width:1000px">
							<td><input type="radio" name="sector-radio" onclick="change_sectorid(this)" id={{row[0]}}></td>
							<td>{{row[0]}}</td>
							<td >{{row[1]}}</td>
							
							{% for entry in row[2:] %}
							<td>{{ entry }}</td>
							{% endfor %}
						</tr>
						{% endfor%}
					</tbody>
				</table>
				
			</div>
		</div>
	</div>

	<!--quick change current sector-->
	<div class="row">
        <div class="col-md-12">
			<div class="btn-group btn-group-xs" data-toggle="buttons">
			{% for row in table %}
			<label class="btn btn-default" id={{row[0]}} onclick="change_sectorid_short(this)">
				<input type="radio" name="sector-short-button" > {{row[0]}}
			</label>
			{% endfor%}
			</div>
        </div>
	</div>
	
	<!-- drawing area-->
	<div class="row">
        <div class="col-md-8">
            <div id="main" style="height:500px; margin-top:30px"> </div>
        </div>
	</div>
  
	<!--change x and y feature to draw-->
	<div class="row">
        <div class="col-md-12">
			<div class="input-group">
				<span  class="text-info"> Feature on x-axis:  </span>
				<div class="btn-group btn-group-xs" data-toggle="buttons">
					
					{% for feature in features %}
					{% if feature == 'HHI'%}
					<label class="btn btn-default active" id={{feature}} onclick="change_xfeature(this)">
						<input type="radio" name="xoptions" checked > {{feature}}
					</label>
					{% else %}
					<label class="btn btn-default" id={{feature}} onclick="change_xfeature(this)">
						<input type="radio" name="xoptions" > {{feature}}
					</label>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			</br>
			<div class="input-group">
				<span class="text-info"> Feature on y-axis:  </span>
				<div class="btn-group btn-group-xs" data-toggle="buttons">
					{% for feature in features %}
					{% if feature == 'CPC'%}
					<label class="btn btn-default active" id={{feature}} onclick="change_yfeature(this)">
						<input type="radio" name="yoptions" checked > {{feature}}
					</label>
					{% else %}
					<label class="btn btn-default " id={{feature}} onclick="change_yfeature(this)">
						<input type="radio" name="yoptions" > {{feature}}
					</label>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	</br>
	
	<!-- table that describ the features that used-->
	<div class="row">
        <div class="col-md-12">
			<table class="table table-bordered table-striped">
				<thead>
					<tr><th>Feature name</th><th>Description</th></tr>
				</thead>
				<tbody>
					{% for feature in feature_desc %}
					<<tr><td>{{feature[0]}}</td> <td>{{feature[1]}}</td></tr>
					{% endfor %}
					
				</tbody>
			</table>
            <p>
            <h3>说明</h3>
            <h4>##网络相关指标说明：</h4>
            <ul>
                <li><dl>
                    <dt>交易网络T</dt>
                    <dd>是一个二部图，节点是用户和词，用户 u 和单词w之间有边表示u竞价了w。</dd>
                <dl></li>
                <li><dl>
                    <dt>用户竞争网络U</dt>
                    <dd>节点是用户，节点 i 和 j 之间有边表示 i 和 j 竞价了相同的单词。</dd>
                    <dd>按照边有无权重U图有两种：
                        <ul>
                            <li>U_adj: 所有边的权重都是1 </li>
                            <li>U_wei: 权重代表两个用户竞价的相同单词数</li>
                        </ul>
                    </dd>
                </dl></li>
            </ul>
            <h4>##行业竞争相关指标说明：</h4>
            <ul>
                <li>_C意味着这个指标是使用cost作为计算数据</li>
                <li>不加_C使用click作为计算数据</li>

            </ul>
            </p>
		</div>
	</div>		
</div>

{% endblock %}