{% extends "base.html" %}

{% block scripts %}
{{super()}}
<!--<script src="static/lib/echart/echarts.js"></script>-->
<script src="/static/lib/echart/echarts.min.js"></script>
<!--script src="/static/lib/back-to-top/main.js"></script>-->
{% endblock scripts%}

{% block title %}指标可视化{% endblock %}

{% block page_content %}
<div class="container" style="width: 500px;">
    <table class="table table-bordered ">
        <thead><tr>
            <th>数据筛选</th>
            <th>One sector</th>
            <th>All sectors</th>
        </tr></thead>
        <tbody>
            <tr>
                <td>所有用户</td>
                <td><a href="/one/ALL">One sector</a></td>
                <td><a href="/all/ALL">All sectors</a></td>
            </tr>
            <tr>
                <td>持续出现，总cost前100的用户</td>
                <td><a href="/one/RU100">One sector</a></td>
                <td><a href="/all/RU100">All sectors</a></td>
            </tr>
        </tbody>
    </table>
    
</div>
{% endblock %}